
<div class="container p-4">
<hr>  
    <div class="row ">
        <h2 class="text-center text-primary mb-5 mt-4">Formación</h2>

            <div class="col-md-4 mt-2 mb-2 ">
                <div class="card p-2 height-card justify-content-center align-items-center">
                    <h5 class="text-primary text-center">Tecnico Superior en Programacion</h5>
                
                    <div class="row text-center">
                        <div class="text-dark"><b>Instituto Tecnico Superior Teclab</b> </div>
                        <div class="text-secondary">2020 - 2022 / Finalizado</div>
                    </div> 
                </div>
            </div>

            <div class="col-md-4 mt-2 mb-2">
                <div class="card p-2 height-card justify-content-center align-items-center">
                    <h5 class="text-primary text-center">Ingenieria Electronica</h5>
                
                    <div class="row text-center">
                        <div class="text-dark"><b>Universidad Tecnologica Nacional - FRA</b> </div>
                        <div class="text-secondary">2008 - 2014 / hasta 3er año</div>
                    </div> 
                </div>
            </div>

            <div class="col-md-4 mt-2 mb-2">
                <div class="card p-2 height-card justify-content-center align-items-center">
                    <h5 class="text-primary text-center">Tecnico en Electronica</h5>
                
                    <div class="row text-center">
                        <div class="text-dark"><b>EET N1 de Longchamps</b> </div>
                        <div class="text-secondary">2020 - 2022 / Finalizado</div>
                    </div> 
                </div>
            </div>

            <div class="col-md-4 mt-2 mb-2">
                <div class="card p-2 height-card justify-content-center align-items-center">
                    <h5 class="text-primary text-center">Tecnico Superior en Programacion</h5>
                
                    <div class="row text-center">
                        <div class="text-dark"><b>Instituto Tecnico Superior Teclab</b> </div>
                        <div class="text-secondary">2020 - 2022 </div>
                    </div> 
                </div>
            </div>
            
            <div class="col-md-4 mt-2 mb-2">
                <div class=" ">
                    <div class="h-100 ">
                        <button type="button" class="btn btn-outline-secondary w-100 height-card" data-bs-toggle="modal" data-bs-target="#add-experience-modal"><b>+ Agregar</b></button>
                    </div>
                </div>
            </div>

        

      </div>
</div>
