
<div class="container p-4">
<hr style="border-color: blue">    
<div class="row">
        <h2 class="text-center text-primary m-3">Formación</h2>


        <div class="col-md-12 mt-2 mb-2 " *ngIf="loginService.isLoggedIn()">
                <div>
                    <button type="button" class="btn btn-outline-primary w-100 " data-bs-toggle="modal" data-bs-target="#add-education-modal"><b>+ Agregar</b></button>
                </div>
        </div>

            <div class="col-md-12 mt-1 mb-1" *ngFor="let Education of educationB">
                <div class="card p-3 d-flex justify-content-between ">
                    <div class="d-flex align-items-start">
                        <div class="col-10">
                            <h5 class="text-primary">{{Education.institute}}</h5>
                            <h6>{{Education.certificate}}</h6>
                            <div class="text-secondary">{{Education.form}} - {{Education.until}} | <b>{{Education.state}}</b> </div>
                        </div>
                        <div class="col d-flex justify-content-end " *ngIf="loginService.isLoggedIn()">
                            <div class="d-flex align-items-end">
                                <a type="button"  data-bs-toggle="modal" (click)="deleteEducation(Education.id!)"><img class="img" src="../../../assets/trash.png" alt=""></a>
                                <a type="button"  data-bs-toggle="modal" data-bs-target="#update-education-modal" routerLink="/education/{{Education.id}}"><img class="img" src="../../../assets/pencil.png" alt=""></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
     

        

      </div>
</div>
