<div class="fixed-top bg1">
    <div class=" container">
        
        <div class="col justify-content-start">
            

            <app-logo-ap></app-logo-ap> 
            <div class="titulo" >
                <h6 class="text-white text-center">Automatización y Control Industrial</h6>
            </div>
            
        </div>

        <div class=" justify-content-end">
            <app-menu-hamburg></app-menu-hamburg>
            <!-- <app-social></app-social> -->
        

        </div>

    </div>

</div>