
<footer class="bg-color2">
    <div class="container height ">

        <div class="row">

            <div class="col-4">
                <div class="mt-5">
                    <div class="d-flex flex-column align-items-center">
                        <app-logo-ap></app-logo-ap>
                        <h6 class="text-white mt-3 text-center">Automatización y Control Industrial</h6>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="d-flex justify-content-center align-items-end mt-5">
                    <div class="text-white mt-2 text-center">
                        <h5 class="mb-5">Seguinos en nuestas redes</h5>
                        <app-social-footer></app-social-footer>
                    </div>
                </div>
            </div>

            <div class="col-4 ">
                <div class="d-flex justify-content-center mt-5 mb-3">
                    <app-menu-footer></app-menu-footer>
                </div>
            </div>


        </div>

        <div class="text-center text-white" >
            <p>2023 © Todos los derechos reservados - www.vl-aci.com.ar</p>
        </div>

    </div>



</footer>