
  .height {
    height: 310px;
  }


.relative{
  position: relative;
}
.absolute{
  position: absolute;
}

.bg-color1 {
  background-color: #008FD5;
}

.bg-color2 {
  background-color: #303642;
}

.bg1{
  background-color: #008FD5 ;

}

.bg2{
  background-color: #a09e9e;

}

.bg-color3 {
  background-color: #e7e7e7;
}

.color-vl1 {
  color: #008FD5;
}

.color-vl2 {
  color: #303642;
}
.titulo {
  width: 200px;
  text-align: center;
}