<div class="container padding" >

    <h1 class="text-center color-vl1 mb-5">Proyectos</h1>
    <p class="text-center">Aqui presentamos una breve selección de proyectos ejecutados y exitosamente concluidos en el último tiempo.</p>
    <div class="row">

        <div class="col-md-4 mb-4 mt-4">
            <div class="card">
              <div>
                <img src="../../assets/project/img01.jpg" class="img-fluid rounded" alt="...">
              </div>
                <div class="card-body posicion-relative">
                  <h5 class="card-title mt-1 mb-2 color-vl1">Automatización de sistema de transporte</h5>
                  <p class="card-text">
                    Se automatizó el transporte de productos hacia en ingreso a la paletizadora con un PLC Siemens S7-1200 y sensores, asegurando eficiencia, eliminando espacios vacíos y mejorando la calidad del paletizado.</p>
                  <a href="#" data-bs-toggle="modal" data-bs-target="#modal-project-1" class="btn bg-color2 text-white">Ver mas</a>
                </div>
            </div>
        </div>
    


        <div class="col-md-4 mb-4 mt-4">
          <div class="card ">
            <div>
              <img src="../../assets/project/img02.jpg" class="img-fluid rounded" alt="...">
            </div>
              <div class="card-body posicion-relative ">
                <h5 class="card-title mt-1 mb-2 color-vl1">Registro de datos de servicios</h5>
                <p class="card-text">Implementamos un monitoreo de energias en SETs con medidores Siemens PAC3100, facilitando datos en tiempo real y registros de tensión, 
                  amperaje, potencia, tambien los niveles de presión en compresores, y uso de grupos electrógenos.</p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-project-2" class="btn bg-color2 text-white">Ver mas</a>
              </div>
          </div>
      </div>


        <div class="col-md-4 mb-4 mt-4">
            <div class="card">

              <div>
                <img src="../../assets/project/img03.jpg" class="img-fluid rounded" alt="...">
              </div>

                <div class="card-body posicion-relative ">
                  <h5 class="card-title mt-1 mb-2 color-vl1">Actualización de envasadora de botellas</h5>
                  <p class="card-text">Se reemplazó la antigua lógica eléctrica por un PLC Siemens S71200 y un HMI Siemens TP900. 
                    También renovamos el tablero de fin de linea, logrando una mejora sustancial en la producción y funcionamineto del equipo.</p>
                  <a href="#" data-bs-toggle="modal" data-bs-target="#modal-project-3" class="btn bg-color2 text-white">Ver mas</a>
                </div>
            </div>
        </div>





        

    </div>
    

    


</div>







<div class="modal fade bd-example-modal-xl" id="modal-project-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary text-center" id="exampleModalLabel2">AUTOMATIZACIÓN DE SISTEMA DE TRANSPORTE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" routerLink=""></button>
      </div>
      <form  novalidate #f="ngForm" >
          <div class="modal-body">

            <div class="mb-5">
                <p>Realizamos la automatización de un sistema de transporte de productos terminados a una estación de paletizado 
                  optimizando su funcionamineto un 100%. Utilizamos un PLC Siemens S7-1200 junto con dos módulos ET 200 para gestionar una red de sensores 
                  estratégicamente distribuidos en el circuito. Estos sensores miden y controlan la velocidad y el flujo de envases,
                   evitando espacios vacíos en la paletización y garantizando una operación eficiente y sin interrupciones, lo que 
                   mejora la calidad del proceso de paletizado.</p>
              
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <img src="../../assets/project/img-proj/img01.jpg" class="img-thumbnail" alt="...">
              </div>

              <div class="col-md-6 mb-3 ">
                <img src="../../assets/project/img-proj/img02.jpg" class="img-thumbnail" alt="...">
              </div>

              <div class="col-md-4 mb-3 ">
                <img src="../../assets/project/img-proj/img03.jpg" class="img-thumbnail" alt="...">
              </div>

              <div class="col-md-4 mb-3 ">
                <img src="../../assets/project/img-proj/img04.jpg" class="img-thumbnail" alt="...">
              </div>

              <div class="col-md-4 mb-3 ">
                <img src="../../assets/project/img-proj/img05.jpg" class="img-thumbnail" alt="...">
              </div>

              <div class="col-md-6 mb-3">
                <img src="../../assets/project/img-proj/img06.jpg" class="img-thumbnail" alt="...">
              </div>

              <div class="col-md-6 mb-3 ">
                <img src="../../assets/project/img-proj/img07.jpg" class="img-thumbnail" alt="...">
              </div>
            </div>
            

          </div>

          <div class="modal-footer">

          </div>
        
      </form>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-xl" id="modal-project-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary text-center" id="exampleModalLabel2">REGISTRO DE DATOS DE SERVICIOS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" routerLink=""></button>
      </div>
      <form  novalidate #f="ngForm" >
          <div class="modal-body">

            <div class="mb-5">
                <p>Hemos implementado un sistema de monitoreo en subestaciones transformadoras (SET) con monitores de energía Siemens PAC3100, 
                  conectados vía RS485 a un PLC que sirve de interfaz con una base de datos en un servidor central. Este sistema permite almacenar 
                  y acceder a datos en tiempo real y de historiales, incluyendo consumo de tensión, amperaje y potencia de línea en cada SET. También,
                   se registran niveles de presión de aire en los compresores y el tiempo de uso de los grupos electrógenos en planta.</p>
              
            </div>
            <div class="row">

              <div class="col-md-8 mb-3 ">
                <img src="../../assets/project/img-proj/img15.jpg" class="img-thumbnail" alt="...">
              </div>

              <div class="col-md-4 mb-3">
                <img src="../../assets/project/img-proj/img11.jpg" class="img-thumbnail" alt="...">
              </div>

              <div class="col-md-6 mb-3 ">
                <img src="../../assets/project/img-proj/img12.jpg" class="img-thumbnail" alt="...">
              </div>

              <div class="row col-md-6">
                 <div class="col-md-12 mb-3 ">
                  <img src="../../assets/project/img-proj/img13.jpg" class="img-thumbnail" alt="...">
                </div>

                <div class="col-md-12 mb-3 ">
                  <img src="../../assets/project/img-proj/img14.jpg" class="img-thumbnail" alt="...">
                </div>
              </div>


            </div>
            

          </div>

          <div class="modal-footer">

          </div>
        
      </form>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-xl" id="modal-project-3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary text-center" id="exampleModalLabel2">ACTUALIZACIÓN DE ENVASADORA DE BOTELLAS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" routerLink=""></button>
      </div>
      <form  novalidate #f="ngForm" >
          <div class="modal-body">

            <div class="mb-5">
                <p>Llevamos a cabo una modernización completa y reingenieria de una envasadora de botellas, sustituyendo la antigua lógica basada en relés y temporizadores por 
                  un PLC Siemens S71200, junto con un HMI Siemens TP900 para gestionar eficientemente toda la línea. Adicionalmente, renovamos el tablero de fin 
                  de línea de encajonado y paletizado mediante una isla ET200 conectada al PLC principal S71200, lo que nos permite una actualización integral de 
                  la línea. Esta mejora ha optimizado significativamente la producción y la velocidad de envasado, asegurando una mayor calidad y eficiencia en el proceso.</p>
              
            </div>
            <div class="row">


              <div class="col-md-6 mb-3">
                <img src="../../assets/project/img-proj/img21.jpg" class="img-thumbnail" alt="...">
              </div>

              <div class="col-md-6 mb-3 ">
                <img src="../../assets/project/img-proj/img22.jpg" class="img-thumbnail" alt="...">
              </div>

              <div class="col-md-6 mb-3 ">
                <img src="../../assets/project/img-proj/img23.jpg" class="img-thumbnail" alt="...">
              </div>

              <div class="col-md-6 mb-3 ">
                <img src="../../assets/project/img-proj/img24.jpg" class="img-thumbnail" alt="...">
              </div>

              <div class="col-md-6 mb-3 ">
                <img src="../../assets/project/img-proj/img25.jpg" class="img-thumbnail" alt="...">
              </div>

            </div>
            

          </div>

          <div class="modal-footer">

          </div>
        
      </form>
    </div>
  </div>
</div>