
    <div class="container p-4">
        <hr style="border-color: blue">    

        <div class="row">

            <h2 class="text-center text-primary m-3">
                Proyectos
            </h2>

            <div class="col-md-12 mt-2 mb-2" >
                <div>
                    <button type="button" class="btn btn-outline-primary w-100 justify-content-end " data-bs-toggle="modal" data-bs-target="#add-experience-modal"><b>+ Agregar</b></button>
                </div>
            </div>
                
                <div class="col-md-6  mt-2 mb-2">
                    <div class="card height-card">
                        <img src="../../assets/Captura1.PNG" class="card-img-top " alt="..."  style="object-fit: cover;">
                        <div class="card-body">

                            <div class="row mt-2">
                                <div class="col-10">
                                    <h5 class="card-title text-primary">Plataforma Academica</h5>
                                </div>

                                <div class="col-2 d-flex justify-content-end">
                                    <a href="" target="_blank"><img class="img" src="../../../assets/check.png" alt="" ></a>
                                    <a href="" target="_blank"><img class="img" src="../../../assets/pencil.png" alt=""></a>
                                </div>
                            </div>
                            <p class="card-text mt-2">
                                Esta es una plataforma acadmica virtual donde el alumno accede con su usuario y contraseña y puede gestionar su cursada academica.
                                Esta es una plataforma acadmica virtual donde el alumno accede con su usuario y contraseña y puede gestionar su cursada academica.
                                Esta es una plataforma acadmica virtual donde el alumno accede con su usuario y contraseña y puede gestionar su cursada academica.


                            </p>
                            <a href="#" class="btn btn-primary">Ver mas</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6  mt-2 mb-2">
                    <div class="card height-card">
                        <img src="../../assets/Captura2.PNG" class="card-img-top " alt="..."  style="object-fit: cover;">
                        <div class="card-body">

                            <div class="row mt-2">
                                <div class="col-10">
                                    <h5 class="card-title text-primary">Terminal de Ventas</h5>
                                </div>

                                <div class="col-2 d-flex justify-content-end">
                                    <a href="" target="_blank"><img class="img" src="../../../assets/check.png" alt="" ></a>
                                    <a href="" target="_blank"><img class="img" src="../../../assets/pencil.png" alt=""></a>
                                </div>
                            </div>
                            <p class="card-text mt-2">
                                Esta es una plataforma acadmica virtual donde el alumno accede con su usuario y contraseña y puede gestionar su cursada academica.
                                Esta es una plataforma acadmica virtual donde el alumno accede con su usuario y contraseña y puede gestionar su cursada academica.
                                Esta es una plataforma acadmica virtual donde el alumno accede con su usuario y contraseña y puede gestionar su cursada academica.


                            </p>
                            <a href="#" class="btn btn-primary">Ver mas</a>
                        </div>
                    </div>
                </div>

        </div>

    </div>
