<div class="">
  <nav class="navbar navbar-expand-lg navbar-dark bg-lucas">
      <button class="navbar-toggler btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">

        <ul class="nav ">
          <li class="nav-item">
              <a class="cambioColor nav-link text-white" href="#about">Acerca de mi</a>
          </li>
          <li class="nav-item">
              <a class="cambioColor nav-link text-white" href="#experience">Experiencia laboral</a>
          </li>
          <li class="nav-item">
              <a  class="cambioColor nav-link text-white" href="#education">Formacion</a>
          </li>
          <li class="nav-item">
              <a  class="cambioColor nav-link text-white" href="#proyects">Proyectos</a>
          </li>
          <li class="nav-item">
              <a class="cambioColor nav-link text-white" href="#skills">Skills</a>
          </li>
      </ul>
      </div>
    
  </nav>
</div>

  