
  <nav class="navbar navbar-expand-lg navbar-dark bg-l menu-md">
        <ul class="nav ">
          <li class="nav-item">
            <a class="cambioColor nav-link " href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="cambioColor nav-link " href="#nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="cambioColor nav-link" href="#servicios">Servicios</a>
        </li>
        <li class="nav-item">
            <a  class="cambioColor nav-link " href="#soluciones">Soluciones</a>
        </li>
        <li class="nav-item">
            <a  class="cambioColor nav-link " href="#proyectos">Proyectos</a>
        </li>
        <li class="nav-item">
            <a  class="cambioColor nav-link " href="#contacto">Contacto</a>
          </li>
          <li class="nav-item social mt-2">
            <app-social></app-social>
        </li>
      </ul>
    
  </nav>
<div class="menu-sd">
    <div class="menu-toggle " (click)="toggleMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="menu " [ngClass]="{'menu-open': isMenuOpen}">
        <ul class="nav ">
            <li class="nav-item">
              <a class="cambioColor text-white nav-link " href="#">Home</a>
          </li>
          <li class="nav-item">
              <a class="cambioColor text-white nav-link " href="#nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
              <a class="cambioColor text-white nav-link" href="#servicios">Servicios</a>
          </li>
          <li class="nav-item">
              <a  class="cambioColor text-white nav-link " href="#soluciones">Soluciones</a>
          </li>
          <li class="nav-item">
              <a  class="cambioColor text-white nav-link " href="#proyectos">Proyectos</a>
          </li>
          <li class="nav-item">
              <a  class="cambioColor text-white nav-link " href="#contacto">Contacto</a>
          </li>
          <li class="nav-item social">
            <app-social></app-social>
        </li>
        </ul>

    </nav>
</div>
    

  