<div class="container p-4 ">
                    
    <h2 class="text-center text-primary mb-3 mt-5">Acerca de mi</h2>
    <div class="col-md-12 card p-3">
        <div class="justify-content-center align-items-end">

            <div class="col d-flex justify-content-end ">
                <div class="d-flex align-items-end">
                    <a href="" target="_blank"><img class="img" src="../../../assets/check.png" alt=""></a>
                    <a href="" target="_blank"><img class="img" src="../../../assets/pencil.png" alt=""></a>
                </div>
            </div>

            <p class="p-3 col text-center text-secondary mb-3 ">
                Desde los 20 años que trabajo como programador de PLC en diferentes industrias y eh aportado mi conocimiento en muchos proyectos 
                a lo largo de mi carrera, pero hoy con 33 años estoy en búsqueda de mi primer trabajo en el mundo IT como desarrollador de software 
                ya que considero que sería dar el salto al próximo nivel en mi carrera profesional. Desde hace 2 años que me estoy capacitando e
                instruyendo en esta área realizando proyectos propios que se suman a mi portafolio y es por eso que hoy en día me considero en 
                condiciones de empezar un nuevo rumbo en mi carrera profesional.                
            </p>

        </div>
    </div>
</div>
