<div class="row mt-5">
    <div class="col">
            <div class="row justify-content-center text-center">

                <h2 class=" text-primary mb-3 mt-3">
                    Acerca de mi
                </h2>
                <h5 class="col-8 text-center">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque veniam, suscipit animi omnis sit modi adipisci hic expedita cum tempora possimus aut, ducimus, est nemo iste placeat illo exercitationem repellat.
                </h5>
            </div>
    </div>
</div>
