<div class="bg-color3">

  <div class="container padding" >
                      
  
      <div class="col-md-12 ">
          <div class="row ">

    
            <div class="col-md-6 p-3 posicion-relative">
              
              <div class="line"></div>
              <h1 class="color-vl">Sobre Nosotros</h1>
              <p class="mt-5 text-left  ">
                  
                Somos una empresa en crecimiento en el campo de la automatización industrial y el desarrollo de software aplicado a la industria, 
                especializada en el diseño, desarrollo y mantenimiento de soluciones tecnológicas para la industria. Con una amplia experiencia en 
                el mundo de la automatización industrial e integración de soluciones IT de sistemas. Tambien en programación de PLC, electricidad industrial y 
                gestión de proyectos, estamos comprometidos en proporcionar soluciones de vanguardia que optimizan la eficiencia y la productividad 
                de nuestros clientes.

              </p>
            </div>

            <div class="col-md-6 ">
              <div>
                  
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">

                    <div class="carousel-item active">
                      <img src="../../assets/about/img01.jpg" class="d-block w-100  img-thumbnail" alt="...">
                      <p></p>
                    </div>

                    <div class="carousel-item">
                      <img src="../../assets/about/img02.jpg" class="d-block w-100  img-thumbnail" alt="...">
                      <p></p>
                    </div>

                    <div class="carousel-item">
                      <img src="../../assets/about/img03.jpg" class="d-block w-100  img-thumbnail" alt="...">
                      <p></p>
                    </div>

                    <div class="carousel-item">
                      <img src="../../assets/about/img04.jpg" class="d-block w-100  img-thumbnail" alt="...">
                      <p></p>
                    </div>

                  </div>

                </div>

              </div>
            </div>



            
          
          
          
            

          </div>
      </div>
  </div>
</div>


  
  