
    <div class="col-12 p-2 card p-100">
        <h4 class="text-white bg-primary p-1 rounded"><b>Experiencia Laboral</b> </h4>
        <div class="row mb-3">
            <div class="col-2">
                <a href="https://sinteplast.com.ar/"><img src="../../../assets/sinteplast.png" alt="" class="w-100"></a>
            </div>

            <div class="col-10">
                <div class="bg-secondary text-white rounded">
                    <b>&nbsp;Empresa - Puesto (desde - hasta) </b> 
                </div>
                <p class="text-secondary" id="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ducimus, ex aliquam distinctio molestias modi veritatis 
                    veniam qui sit itaque enim tenetur mollitia. Ipsam blanditiis inventore officiis pariatur similique iure.
                </p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <a href="https://sinteplast.com.ar/"><img src="../../../assets/sinteplast.png" alt="" class="w-100"></a>
            </div>

            <div class="col-10">
                <div class="bg-secondary text-white rounded">
                    <b>&nbsp;Empresa - Puesto (desde - hasta) </b> 
                </div>
                <p class="text-secondary" id="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ducimus, ex aliquam distinctio molestias modi veritatis 
                    veniam qui sit itaque enim tenetur mollitia. Ipsam blanditiis inventore officiis pariatur similique iure.
                </p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <a href="https://rsai.com.ar/"><img src="../../../assets/simonetta.png" alt="" class="w-100"></a>
            </div>

            <div class="col-10">
                <div class="bg-secondary text-white rounded">
                    <b>&nbsp;Empresa - Puesto (desde - hasta) </b> 
                </div>
                <p class="text-secondary" id="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ducimus, ex aliquam distinctio molestias modi veritatis 
                    veniam qui sit itaque enim tenetur mollitia. Ipsam blanditiis inventore officiis pariatur similique iure.
                </p>
            </div>
        </div>

    </div>