

  
    <div class="container  p-4">

        <hr>

        <h2 class="text-center text-primary mb-5 mt-5">
            Experiencia Laboral
        </h2>


        <div class="m-2 card">
            <div class="row m-2">
      
                <div class="col-md-4">
                    <div class="row justify-content-center">
                        <img src="../../assets/sinteplast.png" alt="Imagen" class="img-fluid ">
                    </div>
                </div>
                <div class="col-md-8">
                    <h5 class="text-primary  mayusculas">Tecnico en proyectos de automatizacion industrial</h5>
                    <h4 class="text-secondary">Sinteplast S.A.</h4>
                    <h6 class="text-secondary">Desde Enero 2020 a Actualidad</h6>
                    <p class="justify-content-center">
                        Tecnico de automatizacion industrial para ingeniería y manteniemiento, programación de PLC de sistemas de procesos automatizados, robotica ABB e industria 4.0, 
                        PLC, HMI, SCADA, Base de Datos en proyectos de automatizacion.
                  
                    </p>
                </div>
            </div>
        </div>

        <div class="m-2 card">
            <div class="row m-2">
      
                <div class="col-md-4">
                    <div class="row justify-content-center">
                        <img src="../../assets/sinteplast.png" alt="Imagen" class="img-fluid ">
                    </div>
                </div>
                <div class="col-md-8">
                    <h5 class="text-primary  mayusculas">Tecnico instrumentista</h5>
                    <h4 class="text-secondary">Sinteplast S.A.</h4>
                    <h6 class="text-secondary">Desde Octubre 2016 a Enero 2020</h6>
                    <p class="justify-content-center">
                        Mantenimiento correctivo y preventivo, detección de fallas y solución de las mismas tanto 
                        eléctrico como electrónico en envasadoras de pinturas y solventes, en los sistemas 
                        SCADA de las plantas de elaboración de pinturas, solventes y resinas también en celdas 
                        robóticas de paletizado (configuración de movimientos, detección de fallas y reparaciones 
                        eléctricas y electrónicas). Calibración de niveles analógicos de tanques, sistemas de pesajes y caudalimetros.
                    </p>
                </div>
            </div>
        </div>

        <div class="m-2 card">
            <div class="row m-2">
      
                <div class="col-md-4">
                    <div class="row justify-content-center">
                        <img src="../../assets/simonetta.png" alt="Imagen" class="img-fluid ">
                    </div>
                </div>
                <div class="col-md-8">
                    <h5 class="text-primary  mayusculas">Programador de PLC</h5>
                    <h4 class="text-secondary">Simonetta S.A.</h4>
                    <h6 class="text-secondary">Desde Abril 2012 a Octubre 2016</h6>
                    <p class="justify-content-center">
                        Diseño de sistemas de automatización industrial, programación de PLC, HMI y sistemas SCADA.
                        Diseño y confección de esquemas eléctricos de tableros eléctricos. 
                        Configuración y parametrización de instrumentos de uso industrial, variadores, sensores, actuadores, etc.
                    </p>
                </div>
            </div>
        </div>

        <div class="p-3">
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-outline-secondary  " data-bs-toggle="modal" data-bs-target="#add-experience-modal"><b>+ Agregar</b>
                    </button>
                </div>
        </div>
         
            
       



    </div>

