<div>
    <a href="https://www.linkedin.com/in/lucas-vidal-90/"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
    <a href="https://github.com/lucas-vidal"><img src="../../../assets/github.png" alt="github"></a>
    <a href="https://www.facebook.com/lucasvidal90"><img src="../../../assets/facebook.png" alt="facebock"></a>
    <a href="https://www.instagram.com/lucasvidal1990"><img src="../../../assets/instagram.png" alt="instagram"></a>
    <a class="btn btn-primary" href="#" role="button">Login</a>
</div>
