<div class="ocultar-social">
    <a href="https://www.linkedin.com/in/lucas-vidal-90/" target="_blank"><img class="cambioColor" src="../../../assets/linkedin.png" alt="linkedin"></a>
    <a class="cambioColor" href="https://github.com/lucas-vidal" target="_blank"><img class="cambioColor" src="../../../assets/github.png" alt="github"></a>
    <a class="cambioColor" href="https://www.facebook.com/lucasvidal90" target="_blank"><img class="cambioColor" src="../../../assets/facebook.png" alt="facebock"></a>
    <a class="cambioColor" href="https://www.instagram.com/lucasvidal1990" target="_blank"><img class="cambioColor" src="../../../assets/instagram.png" alt="instagram"></a>
</div>
