
.mayus{
    text-transform: uppercase;
}

.img-bg {
    background-image: url(../../assets/banner.png) ;
    height: 400px;
}

.img{
    padding: 3px;
    width: 30px;
    margin-right: 0px;
    margin-top: 0px;
    border-radius:50%;
    background-color: #ffffff;
    border:0px solid #ffffff;
}
.edit{
    background-color: #cfe8fd;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.img-sombra {
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.7);
}
.img-redonda {
    margin-top: 10%;
    background-position: 50%;
    width:50vh;
    height:50vh;
    max-width:300px;
    max-height:300px;
    border-radius:50%;
    border:3px solid #ffffff;
}
.margin-text{
    margin-top: 100px;
}

    
@media only screen and (max-width: 1023px) {
    .img-redonda {
        background-position: 50%;
        background-position-y: 30%;
        margin-left: 15%;
        width:35vh;
        max-width:300px;
        height:35vh;
        max-height:300px;
        border-radius:150px;
        border:3px solid #ffffff;
        height: 300px;
    }

    .margin-text{
        margin-top: 10%;
    }
}


@media only screen and (max-width: 800px) {
    .img-redonda {
        background-position: 50%;
        background-position-y: 30%;
        margin-left: 15%;
        width:35vh;
        max-width:200px;
        height:35vh;
        max-height:200px;
        border-radius:150px;
        border:3px solid #ffffff;
        height: 350px;
    }

    .margin-text{
        margin-top: 60px;
        }
}

.texto-animado-1 {
    animation: aparecer-1 1s both;
    opacity: 0;
  }
  
  @keyframes aparecer-1 {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .texto-animado-2 {
    animation: aparecer-2 1.5s both;
    opacity: 0;
  }
  
  @keyframes aparecer-2 {
    0% {
      opacity: 0;
      transform: translateY(400%);
    }
    50% {
      opacity: 0.5;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  .texto-animado-3 {
    animation: aparecer-3 1.5s both;
    opacity: 0;
  }
  @keyframes aparecer-3 {
    0% {
      opacity: 0;
      transform: translateY(600%);
    }
    50% {
      opacity: 0.5;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .img-aparece {
    animation: aparecer-img 1.5s forwards;
    opacity: 0;
  }
  @keyframes aparecer-img {
    0% {
        opacity: 1;
        transform: translateX(-200%);
      }
      100% {
        opacity: 1;
        transform: translateX(0%);
      }
  }