<div class="img-bg mt-5">
    <div class="container p-4">
    
        <div class="col-5 justify-content-center align-items-end">
            <div class="col-5 img-redonda">
                
            </div>
            
        </div>
        <div class="col-5 align-items-center">
            <div class="row text-white">
                <div class="row col-5 align-items-center">
                    <h1 class="mb-2">LUCAS VIDAL</h1>
                    <h6 class="mb-4">FULL STACK DEVELOPER JR.</h6>
                    <h3 class="mb-2">App Webs</h3>
                    <h3 class="mb-2">Frontend & Backend Aplications</h3>     
                </div>
            </div>
        </div>



    </div>  
</div>
             

