
<div class="row ">
    <div class="col-12 img-bg">

        <div class="row col-12">
            <div class="col-6 ">
                <div class="row justify-content-center align-items-center h-50">
                    1
                </div>
                <div class="row justify-content-center align-items-center h-50">
                    3
                </div>
            </div>
            <div class="col-6">
                <div class="row justify-content-center align-items-center nombre">
                    LUCAS VIDAL
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="col-4">
                    <div class="row justify-content-center">
                        7
                    </div>
                </div>
                <div class="justify-content-center col-4">
                    <div class="row justify-content-center">
                        8
                    </div>
                </div>
                <div class="justify-content-center col-4">
                    <div class="row justify-content-center">
                        9
                    </div>
                </div>
            </div>
        </div>
        

    </div>
</div>