<div class="img-bg mt-5">
    <div class="container ">
    
        <div class="row relative">

            <div class="col d-flex align-items-center justify-content-center">
                <div class="img-redonda img-aparece"></div>
            </div>

            <div class="col mt-2 d-flex justify-content-start ">
                <div class=" align-items-center text-white margin-text">
                  <h1 class="texto-animado-1 mt-2 mayus">Lucas Vidal</h1>
                  <h5 class="texto-animado-2 mt-4 mayus">Full Stack Developer JR.</h5>
                  <h3 class="texto-animado-3 mt-4 ">HTML - CSS - JavaScript - Java</h3>
   
                </div>
            </div>
              
            <div class="col d-flex justify-content-end absolute">
                <div class="mt-4 d-flex align-items-start">
                    <a href="" target="_blank"><img class="img" src="../../../assets/check.png" alt=""></a>
                    <a href="" target="_blank"><img class="img" src="../../../assets/pencil.png" alt=""></a>
                </div>
            </div>

        </div>
        



    </div>  
</div>
             

