

<div class="container p-4 ">

    <hr style="border-color: blue">    
    <div class="row">
    
        <h2 class="text-center text-primary m-3">
            Skills
        </h2>  

        <div class="col-md-12 mt-2 mb-2" *ngIf="loginService.isLoggedIn()">
            <div>
                <button type="button" class="btn btn-outline-primary w-100 " data-bs-toggle="modal" data-bs-target="#add-skill-modal"><b>+ Agregar</b></button>
            </div>
        </div>
    
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 mt-5 mb-2" *ngFor="let Skills of skills">
            <div class="chart-container" (load)="createChart(Skills.skill, Skills.value)">
                <canvas id='{{Skills.skill}}'></canvas>
                <div class="chart-value">{{Skills.value}}%</div>
              </div>
            <h4 class="mt-4 text-center">{{Skills.skill}}</h4>
            <div class="col d-flex justify-content-center" *ngIf="loginService.isLoggedIn()">
                <a type="button"  data-bs-toggle="modal" (click)="deleteSkill(Skills.id!)"><img class="img" src="../../../assets/trash.png" alt=""></a>
                <a type="button"  data-bs-toggle="modal" data-bs-target="#update-skill-modal"   (click)="updateSkills.getSkill(Skills.id!)"><img class="img" src="../../../assets/pencil.png" alt="" ></a>

            </div>
        </div>
            
</div>
    
    




