.chart-container {
  position: relative;
}

.chart-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 30px;
  color: black;
}


img{
    width: 20px;
    margin-right: 10px;
    margin-top: 0px;
  }