

<div class="container p-4 ">

    <hr style="border-color: blue">    
    <div class="row">
    
        <h2 class="text-center text-primary m-3">
            Skills
        </h2>  

        <div class="col-md-12 mt-2 mb-2" >
            <div>
                <button type="button" class="btn btn-outline-primary w-100 " data-bs-toggle="modal" data-bs-target="#add-skill-modal"><b>+ Agregar</b></button>
            </div>
        </div>
    
            <div class="col-md-3  mt-5 mb-2">
                <app-doughnut-chart></app-doughnut-chart>
                <h4 class="mt-4 text-center">HTML</h4>
                <div class="col d-flex justify-content-center">
                    <a type="button"  data-bs-toggle="modal" data-bs-target="#update-skill-modal"><img class="img" src="../../../assets/pencil.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-3  mt-5 mb-2">
                <app-doughnut-chart></app-doughnut-chart>
                <h4 class="mt-4 text-center">CSS</h4>
                <div class="col d-flex justify-content-center">
                    <a type="button"  data-bs-toggle="modal" data-bs-target="#update-skill-modal"><img class="img" src="../../../assets/pencil.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-3  mt-5 mb-2">
                <app-doughnut-chart></app-doughnut-chart>
                <h4 class="mt-4 text-center">JavaScript</h4>
                <div class="col d-flex justify-content-center">
                    <a type="button"  data-bs-toggle="modal" data-bs-target="#update-skill-modal"><img class="img" src="../../../assets/pencil.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-3  mt-5 mb-2">
                <app-doughnut-chart></app-doughnut-chart>

                <h4 class="mt-4 text-center">Java</h4>
                <div class="col d-flex justify-content-center">
                    <a type="button"  data-bs-toggle="modal" data-bs-target="#update-skill-modal"><img class="img" src="../../../assets/pencil.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-3  mt-5 mb-2">
                <app-doughnut-chart></app-doughnut-chart>

                <h4 class="mt-4 text-center">API Rest</h4>
                <div class="col d-flex justify-content-center">
                    <a type="button"  data-bs-toggle="modal" data-bs-target="#update-skill-modal"><img class="img" src="../../../assets/pencil.png" alt=""></a>
                </div>
            </div>
             
    </div>
    
</div>
    
    




