<div>
    <app-add-experience></app-add-experience>
    <app-add-education></app-add-education>
    <app-add-proyect></app-add-proyect>
    <app-add-skill></app-add-skill>

    <app-update-banner></app-update-banner>
    <app-update-about></app-update-about>
    <app-update-experience></app-update-experience>
    <app-update-education></app-update-education>
    <app-update-proyect></app-update-proyect>
    <app-update-skill></app-update-skill>

    <app-login></app-login>
    <app-header></app-header>
    <app-banner></app-banner>

    <app-about id="about"></app-about>
    <app-experience id="experience"></app-experience>
    <app-education id="education"></app-education>
    <app-proyects id="proyects"></app-proyects>
    <app-skills id="skills"></app-skills>
    <app-footer id="footer"></app-footer>
</div>
