<div class="bg-color3" >
    <div class="container padding" >
        <h1 class="text-center color-vl mb-5">Soluciones</h1>

        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../assets/solutions/img01.jpg" class="img-fluid rounded" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title color-vl">Registro de datos</h5>
                <p class="card-text">
                  Hemos desarrollado un sistema avanzado que se adapta a diversos tipos de equipos o procesos, permitiendo la medición de datos relevantes o de interés de manera precisa y eficiente. Todos los datos extraídos son almacenados y se garantiza la seguridad y disponibilidad de la información para su posterior procesamiento y la generación de métricas, KPIs o gráficos necesarios.
                </p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-solution-1" class="btn bg-color2 text-white">Ver mas</a>
              </div>
            </div>
          </div>
      </div>

      <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../assets/solutions/img02.jpg" class="img-fluid rounded" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body ">
                <h5 class="card-title color-vl">Medicion de eficiencia de equipos (OEE)</h5>
                <p class="card-text">
                  Mediante el registro y extracción de datos de las máquinas y equipos hemos desarrollado un sistema avanzado para la medición de la Eficiencia General de Equipos (OEE), una métrica ampliamente adoptada en la industria actualmente. Este sistema se ha diseñado con el objetivo de potenciar la mejora continua y la productividad en entornos industriales. 
                </p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-solution-2" class="btn bg-color2 text-white">Ver mas</a>
              </div>
            </div>
          </div>
      </div>



    </div>
</div>




<div class="modal fade bd-example-modal-xl" id="modal-solution-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title text-primary text-center" id="exampleModalLabel2">REGISTRO DE DATOS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" routerLink=""></button>
      </div>
      <form  novalidate #f="ngForm" >
        <div class="modal-body p-3">


          <div class="row">
            <div class="col-md-12 mb-3">
              <p>
                Hemos desarrollado un sistema avanzado que se adapta a diversos tipos de equipos o procesos, permitiendo la medición de datos relevantes o de interés de manera precisa y eficiente. La medición puede ser realizada de forma directa o indirecta, dependiendo de la aplicación específica y el sistema a registrar.
              </p>
            </div>
          </div>


          <div class="row">
            <div class="col-md-7 mb-3">
              <p>
                En el caso de la medición directa, establecemos una comunicación directa a través de un lazo de comunicación entre el PLC del equipo y el PLC de nuestro sistema. Esta conexión posibilita la extracción directa de información relevante del PLC del equipo, que es almacenada de manera segura. Alternativamente, la medición puede llevarse a cabo de manera indirecta mediante el uso de sensores precisos ubicados en el entorno del equipo dando así una medición o registro menos invasivo. Estos sensores realizan mediciones de diversos parámetros, como la cantidad y flujo de producción, golpes por minuto, tiempos de producción y paradas de las máquinas, entre otros. También en casos complejos se pueden utilizar los dos tipos de medición directa e indirecta para lograr una medición más eficiente y tener mejores resultados.
              </p>
            </div>

            <div class="col-md-5 mb-3">
              <img src="../../assets/solutions/img14.jpg" class="img-thumbnail" alt="...">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-3">
              <p>
                Todos los datos extraídos por el PLC de nuestro sistema son almacenados en una base de datos ubicada en un servidor interno. Esta medida garantiza la seguridad y disponibilidad de la información para su posterior procesamiento y la generación de métricas, KPIs o gráficos según sea necesario.
              </p>

            </div>
          </div>
          <div class="row">
             <div class="col-md-12 mb-3 text-center">
              <img src="../../assets/solutions/img13.jpg" class="img-thumbnail" alt="...">
            </div>           
          </div>



         

          <div class="row">
            <div class="col-md-6 mb-3">
              <p>
                En el caso de sistemas automáticos, donde la extracción y clasificación de datos son realizadas de manera automática, no se requiere intervención externa. Sin embargo, en sistemas semiautomáticos o manuales, implementamos una interfaz HMI que permite la interacción con el operador. Este puede confirmar o cargar los datos necesarios para clasificar la información medida. Los datos ingresados a través de la interfaz HMI también se almacenan en la base de datos segura. 
              </p>

              <p>
                Posteriormente, mediante un dashboard web, se accede a estos datos para su procesamiento y verificación mediante gráficos históricos, métricas en tiempo real y . Este enfoque asegura un control eficiente y una gestión óptima de la información recolectada.
              </p>

            </div> 

            
            <div class="col-md-6 mb-3">
              <img src="../../assets/solutions/img11.jpg" class="img-thumbnail" alt="...">
            </div>
          </div>

          

        </div>

          <div class="modal-footer">

          </div>
        
      </form>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-xl" id="modal-solution-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary text-center" id="exampleModalLabel2">MEDICION DE EFICIENCIA DE EQUIPOS (OEE)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" routerLink=""></button>
      </div>
      <form  novalidate #f="ngForm" >
          <div class="modal-body p-3 mt-3">



            <div class="row">
              <div class="col-md-6 mb-3">
                <p>
                  Mediante el registro y extracción de datos de las máquinas y equipos hemos desarrollado un sistema avanzado para la medición de la Eficiencia General de Equipos (OEE), una métrica ampliamente adoptada en la industria actualmente. 
              
                  Este sistema se ha diseñado con el objetivo de potenciar la mejora continua y la productividad en entornos industriales. La herramienta proporciona una visión detallada de los puntos débiles en la producción, permitiendo a las empresas identificar áreas de oportunidad y tomar decisiones informadas para optimizar el rendimiento de sus equipos. Con nuestro enfoque innovador, las organizaciones pueden aprovechar al máximo sus recursos y mejorar significativamente la eficacia operativa en busca de la excelencia en la producción.
                </p>
              </div>

              <div class="col-md-6 mb-3 ">
                <img src="../../assets/solutions/img10.jpg" class="img-thumbnail" alt="...">
              </div>
            </div>


            <div class="col-md-12 mb-3">
              <h5>
                <b>Eficiencia General de Equipos (OEE):</b>
              </h5>
              <p>
                Es una métrica crucial en la gestión de la producción que se ha convertido en una herramienta fundamental para las industrias que buscan maximizar su rendimiento. El OEE mide la eficiencia de un proceso de producción al evaluar la disponibilidad, rendimiento y calidad de los equipos. Aquí hay un desglose de sus componentes clave:              
              </p>


            </div>

            <div class="col-md-12 mb-3">
              <p><b>1. <i>Disponibilidad (Availability):</i></b> Mide el tiempo que los equipos están realmente disponibles para la producción. Se calcula dividiendo el tiempo de operación real entre el tiempo total disponible.</p>
              <p><b>2. <i>Rendimiento (Performance):</i></b> Evalúa la velocidad real de producción en comparación con la velocidad teórica máxima. Se calcula dividiendo la velocidad real entre la velocidad teórica.</p>
              <p><b>3. <i>Calidad (Quality):</i></b> Refleja la proporción de productos buenos producidos en relación con el total de productos producidos. Se calcula dividiendo la cantidad de productos buenos entre la cantidad total de productos.</p>
            </div>

            <div class="col-md-12 mb-3">
              <h5>
                <b>Aplicaciones Prácticas del OEE:</b>
              </h5>
   
              <ul>
                <li><b>Identificación de Ineficiencias:</b> El OEE permite a las empresas identificar áreas específicas de ineficiencia en el proceso de producción. Ya sea por tiempos de inactividad no planificados, velocidad de producción subóptima o problemas de calidad, el OEE proporciona información detallada sobre los puntos débiles.</li>
                <li><b>Toma de Decisiones Informada:</b> Al conocer las áreas de oportunidad, las empresas pueden tomar decisiones informadas para mejorar la eficiencia. Esto podría implicar la implementación de mantenimiento preventivo, la optimización de la velocidad de producción o la introducción de mejoras en la calidad.</li>
                <li><b>Maximización de Recursos:</b> El OEE ayuda a las organizaciones a maximizar el uso de sus recursos al garantizar que los equipos estén operando a su capacidad máxima y produciendo productos de alta calidad.</li>
              </ul>
            </div>

            <div class="col-md-12 mb-3">
              <h5>
                <b>Ventajas Competitivas:</b>
              </h5>
   
              <ul>
                <li><b>Mejora Continua:</b> Al adoptar el OEE como una herramienta integral, las empresas fomentan una cultura de mejora continua. Esto les permite mantenerse ágiles y adaptarse a las cambiantes demandas del mercado</li>
                <li><b>Reducción de Costos:</b> Al identificar y abordar ineficiencias, las organizaciones pueden reducir costos asociados con el tiempo de inactividad no planificado, retrabajos y desperdicios de materiales.</li>
                <li><b>Calidad Consistente:</b> La atención a la calidad mediante el monitoreo constante del OEE conduce a una producción más consistente y productos finales de alta calidad, fortaleciendo la reputación de la marca.</li>
              </ul>
            </div>

            <div class="col-md-12">
              <p>
                En resumen, la implementación efectiva del OEE no solo mejora la eficiencia operativa, sino que también posiciona a las empresas en una trayectoria sostenible hacia el éxito empresarial a través de la optimización continua y la maximización de recursos.
              </p>
            </div>

            
            

          </div>

          <div class="modal-footer">

          </div>
        
      </form>
    </div>
  </div>
</div>










