<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #loginModal>

  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel">Iniciar sesión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" routerLink=""></button>
        </div>
          <form (ngSubmit)="logins()" novalidate #f="ngForm">
            <div class="modal-body" *ngIf="!initSesion">

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Usuario:</label>
                <input type="email" class="form-control" id="username" name="username" [(ngModel)]="username">
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" >Password:</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
              </div>

              <div class="mb-3" *ngIf="error">
                <label for="exampleInputPassword1" class="form-label text-danger" >Credenciales icorrectas</label>
              </div>

            </div>
            <div class="modal-body">

              <div class="mb-3" *ngIf="initSesion">
                <h3 class="text-primary text-center">Bienvenido {{username1}}</h3>
              </div>

    

            </div>

            <div class="modal-footer" >
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="">Cerrar</button>
              <button type="submit" class="btn btn-primary" *ngIf="!initSesion">Iniciar Sesion</button>
            </div>
          
        </form>
      </div>
    </div>
  </div>