<div class="container padding posicion-relative" >
    <h1 class="text-center color-vl mb-5">Servicios</h1>
    <p class="text-center">Somos su socio confiable en todo lo relacionado con la automatizacion industrial y la ingeniería eléctrica, 
        es por eso que  brindamos servicios que superen las expectativas y mejoren la productividad del entorno industrial.</p>
<div class="row mt-5">

    <div class="col-md-4 mt-3 ">
        <div class="mb-5" >
            <img src="../../assets/services/img01.jpg" class="card-img-top  img-thumbnail" alt="...">
            <div class="card-body posicion-relative p-3 margen">
                <div class="point"></div>
                <div class="line"></div>
                <h5 class="card-title mt-1 mb-2 color-vl" >Automatizacion Industrial</h5>
                <div class="row">
                    <p class="card-text text-justify">Diseñamos y desarrollamos soluciones tecnológicas en sistemas de control y automatización industrial como tambien la reingeniera 
                        de sistemas existentes como por ejemplo:
                    </p>
                </div>

                <div class="row mt-2">
                    <div class="col-md-12">
                        <ul>
                            <li>Control de procesos</li>
                            <li>Envasadoras, llenadoras</li>
                            <li>Encajonadoras, empaquetadoras</li>
                            <li>Paletizadoras o celdas roboticas</li>
                            <li>Pesajes o caudalimetros</li>
                            <li>Transportes de productos</li>
                            <li>Registro de datos</li>
                            <li>Traking</li>
                            <li>Etc.</li>
                        </ul>
                    </div>
                       
                </div>
                

            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="mb-5" >
            <img src="../../assets/services/img02.jpg" class="card-img-top  img-thumbnail" alt="...">
            <div class="card-body posicion-relative p-3 margen">
                <div class="point"></div>
                <div class="line"></div>
                <h5 class="card-title mt-1 mb-2 color-vl" >Programación</h5>
                <p class="card-text text-justify">Nos especializamos en programación de PLC y HMI multimarcas y programación o configuracion de sistemas 
                    de movimiento como servomotores o brazos robóticos de todo tipo de niveles de complejidad. También en la implementación de sistemas 
                    automatizados que integran soluciones IT, como servidores y bases de datos, para una gestión eficiente y basada en datos de la producción.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="mb-5" >
            <img src="../../assets/services/img03.jpg" class="card-img-top  img-thumbnail" alt="...">
            <div class="card-body posicion-relative p-3 margen">
                <div class="point"></div>
                <div class="line"></div>
                <h5 class="card-title mt-1 mb-2 color-vl" >Electricidad Industrial</h5>
                <p class="card-text"> Nos especializamos en la creación de diseños y esquemas eléctricos de todo tipo de 
                    complejidad y abarcando cualquier tipo de aplicaciones para la industria. También realizamos armado de 
                    armarios y tableros eléctricos industriales, diseñados a medida y necesidades del cliente para 
                    automatización, neumática, iluminación, distribución de energía industrial o civil. 
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="mb-5" >
            <img src="../../assets/services/img04.jpg" class="card-img-top  img-thumbnail" alt="...">
            <div class="card-body posicion-relative p-3 margen">
                <div class="point"></div>
                <div class="line"></div>
                <h5 class="card-title mt-1 mb-2 color-vl" >Mantenimiento</h5>
                <p class="card-text">Ofrecemos servicios de mantenimiento preventivo y predictivo para garantizar el rendimiento 
                    continuo de las maquinas. También realizamos detección de fallas en los sistemas de automatización como PLC, 
                    variadores o sistemas eléctricos es por eso que ofrecemos un servicio de asistencia técnica de urgencia. Nos 
                    comprometemos con el funcionamiento continuo, optimo y seguro de sus equipos.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="mb-5" >
            <img src="../../assets/services/img05.jpg" class="card-img-top  img-thumbnail" alt="...">
            <div class="card-body posicion-relative p-3 margen">
                <div class="point"></div>
                <div class="line"></div>
                <h5 class="card-title mt-1 mb-2 color-vl" >Desarrollo de Proyectos</h5>
                <p class="card-text">Realizamos y gestionamos proyectos de baja y mediana complejidad donde trabajamos de cerca 
                    con nuestros clientes para el diseño, ejecución y la puesta en marcha de los proyectos. También ofrecemos 
                    consultoría y asesoramiento en la optimización de sistemas de automatización existentes o en la implementación 
                    de nuevas tecnologías en automatización industrial.</p>
            </div>
        </div>
    </div>


</div>





    



</div>