<div class="container padding posicion-relative" >
    <h1 class="text-center color-vl mb-5">Servicios</h1>
    <div class="line-2"></div>


<div class="row mt-5">

    <div class="col-md-4 mt-3 ">
        <div class="mb-5" >
            <img src="../../assets/img14.jpg" class="card-img-top  img-thumbnail" alt="...">
            <div class="card-body posicion-relative p-3 margen">
                <div class="point"></div>
                <div class="line"></div>
                <h5 class="card-title mt-1 mb-2 color-vl" >Automatizacion Industrial</h5>
                <p class="card-text text-justify">Diseñamos y desarrollamos soluciones tecnológicas en sistemas de control industrial para mejorar la eficiencia de 
                    la maquinaria de producción o de los procesos productivos y reducir los costos operativos.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="mb-5" >
            <img src="../../assets/img12.jpg" class="card-img-top  img-thumbnail" alt="...">
            <div class="card-body posicion-relative p-3 margen">
                <div class="point"></div>
                <div class="line"></div>
                <h5 class="card-title mt-1 mb-2 color-vl" >Programación</h5>
                <p class="card-text text-justify">Nos especializamos en la programación de PLC y HMI de diferentes marcas y la programación de sistemas 
                    de movimiento como Servomotores o brazos robóticos de todo tipo de niveles de complejidad. También en la implementación de sistemas 
                    automatizados que integran soluciones de IT, como servidores y bases de datos, para una gestión eficiente y basada en datos.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="mb-5" >
            <img src="../../assets/img11.jpg" class="card-img-top  img-thumbnail" alt="...">
            <div class="card-body posicion-relative p-3 margen">
                <div class="point"></div>
                <div class="line"></div>
                <h5 class="card-title mt-1 mb-2 color-vl" >Electricidad Industrial</h5>
                <p class="card-text">Realizamos armado de tableros eléctricos industriales de baja, mediana y alta complejidad, también la instalación 
                    y el mantenimiento eléctrico de sus sistemas, asegurando su óptimo y seguro funcionamiento.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="mb-5" >
            <img src="../../assets/img10.jpg" class="card-img-top  img-thumbnail" alt="...">
            <div class="card-body posicion-relative p-3 margen">
                <div class="point"></div>
                <div class="line"></div>
                <h5 class="card-title mt-1 mb-2 color-vl" >Mantenimiento</h5>
                <p class="card-text">Nuestro compromiso con el funcionamiento óptimo y seguro de los sistemas de automatización van un paso más allá es 
                    por eso que ofrecemos servicios de mantenimiento preventivo y predictivo para garantizar el rendimiento continuo de sus sistemas. 
                    También en caso de fallas en los sistemas de automatización o eléctricos ofrecemos un servicio de asistencia técnica de urgencia 
                    para proporcionar soluciones rápidas y efectivas.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="mb-5" >
            <img src="../../assets/img09.jpg" class="card-img-top  img-thumbnail" alt="...">
            <div class="card-body posicion-relative p-3 margen">
                <div class="point"></div>
                <div class="line"></div>
                <h5 class="card-title mt-1 mb-2 color-vl" >Desarrollo de Proyectos</h5>
                <p class="card-text">Realizamos proyectos de baja y mediana complejidad donde trabajamos de cerca con nuestros clientes para el diseño, 
                    la ejecución y la puesta en marcha de los proyectos para que sean a medida y que satisfagan las necesidades específicas del cliente, 
                    desde la planificación pasando por todas sus etapas hasta llegar a la puesta en marcha de los sistemas o equipos.</p>
            </div>
        </div>
    </div>


</div>





    



</div>