<div class="col-12 p-2 ">
    <h4 class="text-primary"><b>Formación</b> </h4>
    
       <div class="col-12 bg-secondary text-white">
            <b>&nbsp;Instituto Tecninco Superiror Teclab - (marzo 2021 - diciembre 2022) </b> 
        </div>
        <p class="text-secondary" id="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ducimus, ex aliquam distinctio molestias modi veritatis 
            veniam qui sit itaque enim tenetur mollitia. Ipsam blanditiis inventore officiis pariatur similique iure.
        </p>
        <div class="col-12 bg-secondary text-white">
            <b>&nbsp;Empresa - Puesto (desde - hasta) </b> 
        </div>
        <p class="text-secondary" id="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ducimus, ex aliquam distinctio molestias modi veritatis 
            veniam qui sit itaque enim tenetur mollitia. Ipsam blanditiis inventore officiis pariatur similique iure.
        </p>
        <div class="col-12 bg-secondary text-white">
            <b>&nbsp;Empresa - Puesto (desde - hasta) </b> 
        </div>
        <p class="text-secondary" id="descrisption">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ducimus, ex aliquam distinctio molestias modi veritatis 
            veniam qui sit itaque enim tenetur mollitia. Ipsam blanditiis inventore officiis pariatur similique iure.
        </p>
    
</div>