

.cambioColor {
    color:white;
    opacity: 90%;
    font-size: 16px;
    margin-top: 5px;
}
.cambioColor:hover {
    color:rgb(214, 212, 212);
    opacity: 100%;
}


    
@media only screen and (max-width: 1023px) {
    .ocultar-menu{
    }
}