div{
    margin-top: 0px;
}

.cambioColor {
    color:white;
    opacity: 90%;

}
.cambioColor:hover {
    color:rgb(255, 255, 255);
    opacity: 100%;
}


    
@media only screen and (max-width: 1023px) {
    .ocultar-menu{
    }
}