
<div class="">
    <ul class="">
        <li class="nav-item">
            <a class="cambioColor nav-link" href="#about">Acerca de mi</a>
        </li>
        <li class="nav-item">
            <a class="cambioColor nav-link" href="#experience">Experiencia laboral</a>
        </li>
        <li class="nav-item">
            <a  class="cambioColor nav-link" href="#education">Formacion</a>
        </li>
        <li class="nav-item">
            <a  class="cambioColor nav-link" href="#proyects">Proyectos</a>
        </li>

    </ul>
</div>
