
    <ul>
        <li class="nav-item mb-1 text-white">
            <a class="cambioColor nav-link" href="#about">Acerca de mi</a>
        </li>
        <li class="nav-item mb-1 text-white">
            <a class="cambioColor nav-link" href="#experience">Experiencia laboral</a>
        </li>
        <li class="nav-item mb-1 text-white">
            <a  class="cambioColor nav-link" href="#education">Formacion</a>
        </li>
        <li class="nav-item mb-1 text-white">
            <a  class="cambioColor nav-link" href="#proyects">Proyectos</a>
        </li>
        <li class="nav-item mb-3 text-white">
            <a  class="cambioColor nav-link" href="#skills">Skills</a>
        </li>
    </ul>
