.img-redonda {
    background-position: 50%;
    background-position-y: 30%;
    margin-left: 0%;
    width:35vh;
    max-width:300px;
    height:35vh;
    max-height:300px;
    border-radius:150px;
    border:3px solid #2187C8;
}