<div class="modal fade" id="update-banner-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel2">Modificar datos personales</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <form>
            <div class="modal-body">
  
              <div class="mb-3">
                <label class="form-label">Nombre:</label>
               <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
              </div> 
  
              <div class="mb-3">
                <label  class="form-label">Apellido:</label>
               <input type="text" class="form-control" id="surname" aria-describedby="emailHelp">
              </div> 
  
              <div class="mb-3">
                <label  class="form-label">Titular:</label>
               <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
              </div> 
  
              <div class="mb-3">
                <label  class="form-label">Skills:</label>
               <input type="text" class="form-control" id="skills-banner" aria-describedby="emailHelp">
              </div> 
  
              <div class="mb-3">
                <label  class="form-label">Foto de perfil:</label>
               <input type="file" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
              </div> 
  
            </div>
  
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-success">Modificar</button>
            </div>
          
        </form>
      </div>
    </div>
  </div>
  