
<div>
    <ul class="nav">
        <li class="nav-item">
            <a class="cambioColor nav-link " href="">Acerca de mi</a>
        </li>
        <li class="nav-item">
            <a class="cambioColor nav-link" href="">Experiencia laboral</a>
        </li>
        <li class="nav-item">
            <a  class="cambioColor nav-link" href="">Formacion</a>
        </li>
        <li class="nav-item">
            <a  class="cambioColor nav-link" href="">Proyectos</a>
        </li>
        <li class="nav-item">
            <a class="cambioColor nav-link" href="">Skills</a>
        </li>
    </ul>
</div>
