
<div class="ocultar-menu">
    <ul class="nav">
        <li class="nav-item">
            <a class="cambioColor nav-link" href="#about">Acerca de misa</a>
        </li>
        <li class="nav-item">
            <a class="cambioColor nav-link" href="#experience">Experiencia laboral</a>
        </li>
        <li class="nav-item">
            <a  class="cambioColor nav-link" href="#education">Formacion</a>
        </li>
        <li class="nav-item">
            <a  class="cambioColor nav-link" href="#proyects">Proyectos</a>
        </li>
        <li class="nav-item">
            <a class="cambioColor nav-link" href="#skills">Skills</a>
        </li>
    </ul>
</div>
