<div class="row">
    
    <div class="col-lg-12">
        <h4 class="text-primary "> EXPERIENCIA LABORAL</h4>
        <ul>
            <li class="text-white bg-secondary ">
                <h6><b>&nbsp;Empresa - Puesto (desde - hasta)</b></h6>

            </li>
            <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ducimus, ex aliquam distinctio molestias modi veritatis veniam qui sit itaque enim tenetur mollitia. Ipsam blanditiis inventore officiis pariatur similique iure.</p>
        </ul>
        <ul>
            <li class="text-white bg-secondary ">
                <h6><b>&nbsp;Sinteplast - </b></h6>
                <h6><b>Instrumentista - </b></h6>
                <h6>(octubre 2020 -  </h6>
                <h6>marzo 2023)</h6>
            </li>
            <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ducimus, ex aliquam distinctio molestias modi veritatis veniam qui sit itaque enim tenetur mollitia. Ipsam blanditiis inventore officiis pariatur similique iure.</p>
        </ul>
        <ul>
            <li class="text-white bg-secondary ">
                <h6><b>&nbsp;Sinteplast - </b></h6>
                <h6><b>Instrumentista - </b></h6>
                <h6>(octubre 2020 -  </h6>
                <h6>marzo 2023)</h6>
            </li>
            <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ducimus, ex aliquam distinctio molestias modi veritatis veniam qui sit itaque enim tenetur mollitia. Ipsam blanditiis inventore officiis pariatur similique iure.</p>
        </ul>
    </div>
</div>