<div class="modal fade" id="update-skill-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel2">Actualizar datos de skill</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" routerLink=""></button>
        </div>
          <form (ngSubmit)="updateSkill()"  novalidate #f="ngForm">
            <div class="modal-body">
  
              <div class="mb-3">
                <label class="form-label">Skill:</label>
               <input type="text" class="form-control" id="skill" name="skill" [(ngModel)]="skills.skill">

              </div> 
  
              <div class="mb-3">
                <label  class="form-label">Valor:</label>
                <input type="number" class="form-control" id="link" min="0" max="100" pattern="[0-9]{1,2}|100" id="value" name="value" [(ngModel)]="skills.value">
                <label  class="form-label text-secondary">(0 a 100)</label>

              </div> 
  
            </div>
  
            <div class="modal-footer">

              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="">Cerrar</button>
              <button type="submit" class="btn btn-success" routerLink="">Modificar</button>
              <button type="button" class="btn btn-success" (click)="getId()">Get</button>

            </div>
          
        </form>
      </div>
    </div>
  </div>